.parent {
	height: 100vh;
	width: 100%;
	display: block;
}

p {
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 5vw;
	font-weight: 900;
	mix-blend-mode: difference;
	color: white;
}

.stop {
	width: 100vw;
	height: 100vh;
	animation: strop 0.1s linear infinite alternate-reverse;
	place-items: center;
	display: none;
}

@keyframes strop {
	0% {
		background-color: black;
	}
	100% {
		background-color: white;
	}
}

.meme {
	width: 100%;
}

.non-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
